@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, body {
  font-family: 'Poppins', sans-serif !important;
}

body {
  //overflow-x: hidden;
}

.mw-100 {
  max-width: 90%;
  position: relative;
  z-index: 100;
}


// setting the default font

$font-family: "Poppins";
.v-application {
  [class*="text-"] {
    color: #36405a;
    font-family: $font-family, sans-serif !important;
  }

  font-family: $font-family, sans-serif !important;
}

.background-bottom-cover {
  background-position: bottom;
  background-size: cover;
}

.background-top-cover {
  background-position: top;
  background-size: cover;
  margin-top: -1px;
}

.app-padding {
  padding-left: 14%;
  padding-right: 14%;
}

@media screen and (max-width: 1260px) {
  .app-padding {
    padding-left: 7%;
    padding-right: 7%;
  }
}
